{% extends 'base.html' %}

{% block title %}
    Inbox
{% endblock %}

{% block contentinbox %}
    <h1>Inbox</h1>
    {% for message in messages %}
        <div>
            <h3>{{ message.subject }}</h3>
            <p>From: {{ message.sender.username }}</p>
            <p>Timestamp: {{ message.timestamp }}</p>
            <a href="{% url 'message_detail' message_id=message.pk %}">Read Message</a>
        </div>
        <hr>
    {% empty %}
        <p>No messages in the inbox.</p>
    {% endfor %}
{% endblock %}
